@import "../../../z-com/components/menu/resources/scss/menu";
@import "gallery";

@mixin link {
  color: blue;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

html, body {
  margin: 0; padding: 0;
  font-family: sans-serif;
}

div.app {
  * { box-sizing: border-box; }

  --app-border:          hsl(0deg 0% 90%);
  --app-border-dark:     hsl(0deg 0% 80%);
  --black:               hsl(0deg 0% 20%);
  --grey:                hsl(0deg 0% 60%);
  --blue-dark:           hsl(240deg 100% 80%);
  --blue-light:          hsl(240deg 100% 90%);
  --pd:                  10px;
  --pd-half:             5px;
  --pd-double:           20px;
  --panel-height:        50px;
  --status-item-count:   4;
  --status-height:       calc(var(--panel-height) * var(--status-item-count));
  --target-col:          hsla(0,0%,50%,0.3); //hsla(240,100%,50%,0.3);

  --path-bg:             hsl(0,0%,80%);
  --sel-fg:              hsl(240,100%,50%);
  --sel-bg:              hsl(240,100%,95%);
  --light-grey:          hsl(0,0%,95%);
  --light-grey-alpha:    hsla(0,0%,0%,0.10);

  --sidebar:             300px;
  --canvas:              calc(100vw - var(--sidebar));
  // --sidebar-min:         220px;
  // --sidebar-max:         300px;

  --controls-height:     50px;
  --controls-bg:         hsl(0,0%,95%);
  --control-col:         hsla(120,100%,50%,0.3);
  --script-height:       calc(100vh - var(--controls-height) - var(--panel-height));
  --script-height-short: calc(var(--script-height) - var(--status-height));
  --code-size:           15px;
  --code-font:           "Helvetica";

  * { box-sizing: border-box; }
}

div.script-phantom.sidebar {
  height:    100vh;
}

div.script.sidebar {
  position: fixed;
  border-width: 0 3px 0 0;
  border-style: solid;
  border-color: var(--black);

  > div.controls {
    &.unsaved-changes div.zc-button.save {
      background-color: hsl(0,100%,90%);
    }
    height:           var(--controls-height);
    background-color: var(--controls-bg);
    div.zc.zc-button { --height: var(--controls-height); }
  }

  > textarea {
    height:      var(--script-height);
    font-size:   var(--code-size);
    font-family: var(--code-font);
  }

  ol {
    margin:     0;
    padding:    0;
    list-style: none;

    li {
      min-height: var(--controls-height);
      padding: var(--pd);

      &:hover:not(.active) {
        cursor: pointer;
        background-color: hsl(60deg 90% 95%);
      }

      &.active {
        background-color: hsl(240deg 90% 95%);
        ol, li {
          border-color: var(--app-border-dark) !important;
        }
      }

      & + li {
        border-top: 1px solid var(--app-border);
        // border-width: 1px;
        // border-style: solid;
      }
    }
  }

  > ol.log,
  > ol.s-els {
    height:     var(--script-height);
    overflow:   scroll;
  }

  > ol.s-els {
    span.s-el-k,
    span.p-el-k {
      font-weight: bold;
    }
    span.s-el-doc {
      // font-weight: bold;
      color: white;
      padding: 1px 4px;
      border-radius: 4px;
      font-size: 0.9em;
      background-color: var(--grey);
    }
    span.s-el-opts {
      font-style: italic;
    }

    span.s-el-args {
      span.data {
        font-family: monospace;
      }

      span.ref {
        @include link;
      }
    }
    span + span { margin-left: var(--pd); }

    li.cmpt-sel,
    li.cmpt-pth {
      display: flex;
      align-items: center;
    }

    li.cmpt-pth {
      ol.cmpt-pth {
        display: flex;
        li {
          display: flex;
          align-items: center;
          border: none;
          min-height: 0; // undo min-height of generic ol
          padding: 0;
          &.current {
            font-weight: bold;
          }
          &:not(.current) span.cmpt-id {
            @include link;
          }
          & + li {
            &:before { content: '⟩'; margin: 0 var(--pd); }
          }
        }
      }
    }

    ol.p-els {
      margin: var(--pd) 0;
      border: 1px solid var(--app-border);
      border-style: solid;
      > li {
        display: flex;
        align-items: center;

        span.p-el-k {
          margin-right: var(--pd-half);
        }

        ol.p-el-args {
          display: flex;
          // align-items: center;
          border: none;
          > li {
            display: flex;
            align-items: center;
            border: none;
            padding: var(--pd-half);
            border-radius: 2px;
            min-height: 0; // undo min-height of generic ol
            & + li {
              // margin-left: var(--pd-half);
            }
          }
        }
      }
    }

    span.p-out {
      font-family: monospace;
    }
  }

  &.with-status > textarea {
    height: var(--script-height-short);
  }

  &.with-status > ol.log,
  &.with-status > ol.s-els {
    height: var(--script-height-short);
  }

  > div.shell {
    padding: 0;
    height: var(--panel-height);
    border-top: 1px solid var(--app-border);
    box-sizing: content-box;
    textarea {
      &:focus {
        background-color: var(--blue-dark);
        color: white;
        &::placeholder {
          color: white;
        }
      }
      padding: var(--pd);
      height: 100%;
      line-height: calc(var(--panel-height) - (2 * var(--pd)));
      font-size:   var(--code-size);
      font-family: var(--code-font);
    }
  }

  > div.status {
    position:  relative;
    width: 100%;

    div.selection-stack {
      display:          flex;
      flex-direction:   column;
      height:           var(--status-height);
      background-color: var(--light-grey);
      color:            black;

      > div.selection-level {
        overflow:     hidden;
        border-top:   1px solid hsl(0,0%,90%);
        white-space:  nowrap;
        height:       var(--panel-height);
        padding-left: 10px;
        display:      flex;
        align-items:  center;
        color: var(--sel-fg);
        > * + * { margin-left: 5px; }
        > span.selected { color: var(--sel-fg); }

        div.controls {
          div.zc-button {
            box-sizing: border-box;
            --height:   calc(var(--panel-height) - 1px);
          }
          &.crud { position: absolute; right: 0; }
        }
      }
    }
  }
}

div.canvas, div.galleries {
  display: flex; flex-shrink: 0;

  textarea {
    display:   block;
    padding:   var(--pd-half);
    margin:    0;
    border:    0;
    outline:   none !important;
    resize:    none;
    width:     100%;
  }

  div.sidebar {
    // min-width: var(--sidebar-min);
    // max-width: var(--sidebar-max);
    width:     var(--sidebar);
    height:    100vh;
    flex-shrink: 0;
  }
}

div.canvas div.paint {
  display: flex;
  align-items: center;
  // justify-content: center;
  // flex-wrap: wrap;
  > * {
    flex-shrink: 0;

    // NOTE: `justify-content: center` will overflow svg on the left w/o ability
    // to scroll it into view, therefore auto-margin is used to center horizontally
    margin: 0 auto;
  }
  width: var(--canvas);
  overflow: scroll;

}

div.paint {

  * { user-select: none; }

  svg {
    margin: 5px;
    border: 5px solid var(--light-grey);
    display: block;
    box-sizing: content-box;

    g.main {
    }

    g.sel {
      stroke:       var(--sel-fg);
      fill:         none;
      stroke-width: 1.5;
    }

    g.coords {
      g.cp rect {
        stroke-width: 2;
        stroke:       hsl(0,0%,80%);
        fill:         hsl(0,0%,100%);

        &:hover { fill: var(--sel-fg); }
      }
      g.selected g.cp rect {
        stroke:       var(--sel-fg);
        fill:         hsl(0,0%,100%);
        stroke-width: 2;
      }
      line.ctrl-target {
        stroke-linecap: round;
        stroke: hsl(0,0%,80%);
        stroke-width: 2;
      }
    }

    text { font-family: sans-serif; }
    path { stroke-linecap: round; }

    g {
      &.control  { circle { fill: hsl(0,0%,90%); stroke: var(--sel-fg); stroke-width: 2; } }
      &.target   { circle { fill: transparent; stroke: var(--target-col); stroke-width: 2; } }
      &.hover    { circle { fill: var(--sel-fg); } }
      &.selected { circle { fill: transparent; stroke: var(--sel-fg); } }
    }
  }
}
