@import "../../z-com/resources/scss/z-com";

html, body {
  margin: 0; padding: 0;
}

div.canvas {
  display: flex;
  * { box-sizing: border-box; }

  --status-item-height: 50px;
  --status-height:    calc(var(--status-item-height) * 3);
  --target-col:       hsla(0,0%,50%,0.3); //hsla(240,100%,50%,0.3);
  --control-col:      hsla(120,100%,50%,0.3);
  --path-bg:          hsl(0,0%,80%);
  --sel-fg:           hsl(240,100%,50%);
  --sel-bg:           hsl(240,100%,95%);
  --light-grey:       hsl(0,0%,95%);
  --light-grey-alpha: hsla(0,0%,0%,0.10);

  --sidebar: 30vw;

  div.script {
    border-width: 0 5px 0 0;
    border-style: solid;
    border-color: hsl(0,0%,0%);
    height: 100vh;
    // width: var(--sidebar);

    textarea {
      // box-sizing: border-box;
      padding: 5px;
      width: var(--sidebar);
      display: block;
      height: calc(100vh - var(--status-height));
      margin: 0;
      outline: none !important;
      resize: none;
      border: 0;
    }

    div.status {
      position: relative;
      div.controls {
        div.zc-button { box-sizing: border-box; --height: calc(var(--status-item-height) - 1px);; }
        &.crud { position: absolute; right: 0; }
      }
      div.selection-stack {
        display: flex; flex-direction: column;
        height: var(--status-height);
        background-color: var(--light-grey); color: black;
        > div.selection-level {
          border-top: 1px solid hsl(0,0%,90%);
          white-space: nowrap;
          height: var(--status-item-height);
          padding-left: 10px;
          display: flex; align-items: center;
          font-family: sans-serif;
          > * + * { margin-left: 5px; }
          > span.selected { color: var(--sel-fg); }
        }
      }
    }
  }

  div.paint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    * { user-select: none; }

    svg {
      border: 5px solid var(--light-grey);
      display: block;

      g.main {
        path {
          stroke: black;
          // fill: var(--light-grey);
          fill: none;
        }
      }

      g.sel {
        stroke: var(--sel-fg); fill: none;
        stroke-width: 1.5;
      }

      g.coords {
        line.ctrl-target {
          stroke: var(--light-grey-alpha);
          stroke-width: 1.5;
        }
      }

      text { font-family: sans-serif; }
      path { stroke-linecap: round; }

      g {
        &.control  { rect, circle { fill: hsl(0,0%,90%); stroke: var(--sel-fg); stroke-width: 2; } }
        &.target   { rect, circle { fill: transparent; stroke: var(--target-col); stroke-width: 2; } }
        &.hover    { rect, circle { fill: black; } }
        &.selected { rect, circle { fill: transparent; stroke: var(--sel-fg); } }
      }
    }
  }
}
